<div id="<%= dom_id author %>">
  <div>
    <span class="block text-xs font-medium text-gray-500 uppercase tracking-wide my-1">First name</span>
    <span class="block text-base text-gray-900"><%= author.first_name %></span>
  </div>

  <div>
    <span class="block text-xs font-medium text-gray-500 uppercase tracking-wide my-1">Last name</span>
    <span class="block text-base text-gray-900"><%= author.last_name %></span>
  </div>
</div>
