<% content_for :title, "New author" %>

<h1 class="text-gray-900 sm:text-1xl md:text-3xl mb-2">New author</h1>

<%= render "form", author: @author %>

<br>

<button class="bg-transparent hover:bg-blue-500 text-blue-700 hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
  <%= link_to "Back to authors", authors_path %>
</button>
